* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    width: 1200px;
    ;
    margin: 100px auto;
}


.up {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    ;
    justify-content: center;
}

.task_sumbit {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 42px;
}

.up h1 {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

input {
    width: 321px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #007FFF;
    color: #000;
    font-family: Roboto;
    padding-left: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}



.task_sumbit button {
    width: 155px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #0071E3;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    border: none;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.list_item {
    width: 282px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #007FFF;
    background: #F0F0F0;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task_name {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
}

 img {
    margin-top: 23px;
    margin-right: 25px;
    margin-bottom: 53px;
}

.buy {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.time {
    color: rgba(0, 0, 0, 0.55);
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}