*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #A755E5;
}
.container{
    width: 1200px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    width: 1100px;
    height: 700px;
}

.top{
    width: 800px;
    height: 100px;
   
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

h1{
    font-size: 80px;
    color: white;
    font-family: 'Roboto';
    word-spacing: 20px;
}

.bottom{
    width: 1050px;
    height: 400px;
    margin-block: 60px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.counter_box{
    width: 300px;
    height: 300px;
    background: white;
    border: none;
    border-radius: 20px;
    box-shadow: black 10px; 
}
.arrow-up {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 35px solid white;
    cursor: pointer;
  }
  
  .arrow-down {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 35px solid white;
    cursor: pointer;
  }
  .counter{
    text-align: center;
    padding-block: 110px;
    font-size: 70px;
  }
   

  .reset{
    width: 80px;
    height: 50px;
    background: rgb(229, 41, 41);
     border-radius: 10px;
     text-align: center;
     font-weight: bold;
     font-size: 20px;
     border-color: red;
  }
  .random{
    width: 80px;
    height: 50px;
    background: green;
     border-radius: 10px;
     text-align: center;
     font-weight: bold;
     font-size: 15px;
     border-color:green;
  }
    

  


